{% extends 'base.html' %}
{% block title %}Sobre{% endblock %}

{% block content %}
<h1>Sobre</h1>
<p>
    Esta é uma aplicação de gerenciamento de tarefas e grupos, criada com o objetivo de facilitar a organização e 
    colaboração entre os usuários. Com esta ferramenta, você pode:
</p>
<ul>
    <li>Criar e gerenciar seus grupos;</li>
    <li>Atribuir tarefas a grupos e monitorar seu progresso;</li>
    <li>Colaborar com outros membros dos grupos.</li>
</ul>

<p>Desenvolvido com Flask e Peewee.</p>

<a href="{{ url_for('dashboard') }}" class="btn btn-primary">Voltar ao Dashboard</a>
{% endblock %}
