{% extends 'base.html' %}
{% block title %}Tarefas do Grupo: {{ grupo.nome }}{% endblock %}

{% block content %}
<a href="{{ url_for('ver_grupos') }}" class="btn btn-danger">Voltar aos Grupos</a><hr>
<h1>Tarefas do Grupo: {{ grupo.nome }}</h1>

<p>{{ grupo.descricao }}</p>


<hr>
{% if tarefas %}
    <ul>
        {% for tarefa in tarefas %}
            <li>
                <strong>{{ tarefa.titulo }}</strong>: {{ tarefa.descricao }}
                <br>
                Criada por: {{ tarefa.criador.nome }}
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>Este grupo ainda não possui tarefas.</p>
{% endif %}


{% endblock %}