{% extends 'base.html' %}
{% block title %}Meus Grupos{% endblock %}

{% block content %}
<h1>Meus Grupos</h1>
<br>
<p><a href="{{ url_for('dashboard') }}">Voltar ao Dashboard</a></p>
<hr>

<!-- Verificar se há grupos -->
{% if grupos %}
    <ul>
        {% for grupo in grupos %}
            <li>
                <h3>{{ grupo.nome }}</h3>
                <p>{{ grupo.descricao }}</p>
                <a href="{{ url_for('editar_grupo', grupo_id=grupo.id) }}">Editar</a>
                <a href="{{ url_for('ver_tarefas_grupo', grupo_id=grupo.id) }}">Ver Tarefas</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Você ainda não pertence a nenhum grupo.</p>
{% endif %}
{% endblock %}